<div class="wrapper">
  <!--Photo Slider-->
  <div class="slider">
  <ul class="slides">
    <li>
      <img src="plane.jpeg">
      <div class="caption center-align">
        <h5 class="light grey-text text-lighten-3 ">Whether traveling by air...</h5>
      </div>
    </li>
    <li>
      <img src="car.jpeg">
      <div class="caption left-align">
        <!-- <h3>Left Aligned Caption</h3> -->
        <h5 id="colbla" class="light grey-text text-lighten-3">Or taking your trip on the open road...</h5>
      </div>
    </li>
    <li>
      <img src="journal.jpg">
      <div class="caption right-align">
        <!-- <h3>Right Aligned Caption</h3> -->
        <h5 class="light grey-text text-lighten-3">Let us HELP by making your planning easy.</h5>
      </div>
    </li>
    <li>
      <img src="cam-suitcase.jpg">
      <div class="caption center-align">
        <!-- <h3>This is our big Tagline!</h3> -->
        <h5 class="light grey-text text-lighten-3 colbla">So you can pack your bags...</h5>
      </div>
    </li>
    <li>
      <img src="tourist.jpg">
      <div class="caption right-align">
        <!-- <h3>This is our big Tagline!</h3> -->
        <h5 id="colbla" class="light grey-text text-lighten-3">And have the trip of a lifetime!</h5>
      </div>
    </li>
  </ul>
  </div>


  <!--Form-->
  <div class="row login">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="destination" type="text" class="validate" g-places-autocomplete ng-model="hCtrl.place">
        <label for="first_name">Where are you going?</label>
      </div>

    <div class="row">
      <div class="input-field col s6">
        <label for="start-date">Start Date</label><br>
        <input id="startDate" type="date" class="datepicker">
      </div>
      <div class="input-field col s6">
        <label for="end-date">End Date</label><br>
        <input id="endDate" type="date" class="datepicker">
        </div>


          <!-- Collapsible -->
          <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="material-icons"></i>In Need of a Hotel?</div>
                <div class="collapsible-body">
                  <p>How many Rooms?
                    <select id="numOfRooms">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select></p>
                    <p>How many Adults?
                      <select id="numOfAdults">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select></p>
                    <p>How many Children?
                      <select id=numOfChildren>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select></p>
                      <p>What is your Price Range per night?
                        <select id=numOfChildren class="priceRange">
                          <option value="0">Any</option>
                          <option value="1"><$100</option>
                          <option value="2">$100-$150</option>
                          <option value="3">$150+</option>
                        </select></p>
                  </div>
                </div>
              </li>
            </ul>
              <div class="row pictures">
                <div class="input-field col s6">
                  <a ui-sref="fly" class="waves-effect waves-light btn" ng-click="hCtrl.getHotels()">Flying?</a>
                </div>
                <div class="input-field col s6">
                  <a class="waves-effect waves-light btn" ui-sref="driving" ng-click="hCtrl.getHotels(); hCtrl.getMap()">Driving?</a>
            </div>
        </div>
      </div>
</div>
      </div>
    </div>
  </form>
  </div>

</div>
