<!DOCTYPE html>
<html ng-app='findSomeShitAndGetThereApp'>
  <head>
    <meta charset="utf-8">
    <title>Find Some Shit And Get There</title>
    <script src="bower_components/angular/angular.js" charset="utf-8"></script>
    <script src="bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="app.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body ng-controller="homeCtrl as hCtrl">
​
    <div class="container">
      <div class="row">
        <div class="col-md-12 jumbotron">
          <h1>{{hCtrl.title}}</h1>
            <div class="input-group">
              <input type="text" id="goForm" class="form-control" placeholder="What Kind Of Shit Are You Looking For?" ng-model="hCtrl.interest">
              <span class="input-group-btn">
                <button class="btn btn-primary" id="goButton" type="button"  ng-click="hCtrl.go(); showResults=true">💩</button>
              </span>
            </div>
​
        </div>
      </div>
      <div class="row" ng-if="showResults">
        <div class="col-md-12">
          <div class="panel panel-default" id="results-panel">
            <div class="panel-heading"><h1>Shit We Found For You</h1></div>
            <div class="panel-body">
              <table class="table table-striped table-hover ">
​
                <tbody>
                  <tr ng-repeat="venue in hCtrl.venues | orderBy:hCtrl.orderThings">
                    <td ng-click="hCtrl.getVenueInfo(venue)" data-toggle="modal" data-target="#venueModal"><h2 id="venueName">{{venue.name}}</h2> <h4 id="distance"><i class="material-icons">near_me</i> is {{venue.location.distance * 0.000621371 | currency:"":2}} miles away</h4><br/><hr /></td>
​
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
​
    <div class="modal fade" id="venueModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{hCtrl.currentVenue.name}}</h4>
          </div>
          <div class="modal-body">
            <h4>Location: {{hCtrl.currentVenue.location.address}} {{hCtrl.currentVenue.location.city}} {{hCtrl.currentVenue.location.state}}</h4>
            <h4 ng-if="hCtrl.currentVenue.contact.formattedPhone">Phone: {{hCtrl.currentVenue.contact.formattedPhone}} </h4>
            <h4 ng-if="hCtrl.currentVenue.url">Website: <a target="_blank" href="{{hCtrl.currentVenue.url}}">{{hCtrl.currentVenue.url}}</a></h4>
            <h4 ng-if="hCtrl.currentVenue.menu.url">Menu: <a target="_blank" href="{{hCtrl.currentVenue.menu.url}}">{{hCtrl.currentVenue.menu.url}}</a></h4>
            <hr />
            <div id="uberPicHolder"><img src="uber.png" id="uberPic" width="250px"></div>
            <p><h4>Estimated Price: {{hCtrl.currentVenue.uberPrice}}<h4> <h4>Estimated Time: {{hCtrl.SecondsTohhmmss(hCtrl.currentVenue.uberTime)}}</h4></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Shit Expensive, Go Back</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Uber That Shit</button>
          </div>
        </div>
      </div>
    </div>
​
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiZxO34DATiEafQs2BOxuIS_T-UhAQ81U"
      async defer></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
